<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
  {%- feed_meta -%}
  
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jakejnx.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jakejnx.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jakejnx.com/favicon-16x16.png">
  <link rel="manifest" href="https://cdn.jakejnx.com/site.webmanifest">
  <link rel="stylesheet" href="https://cdn.jakejnx.com/w3.css">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
  <section class="section" id="main-content">
     {{ content }}
     
    </section>
    {%- include footer.html -%}

  </body>

</html>
